.logo {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    height: 50px;
    width: auto;
}

.homeimg {
    padding-left: 100px;
    height: 520px;
    width: auto;
}
