.logo {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    height: 50px;
    width: auto;
}

.homeimg {
    padding-left: 100px;
    margin-top: 90px;
    height: 520px;
    width: auto;
}

.foodtruckimgs {
    height: 300px;
    width: 630px;
}
